.header {
    background-color: transparent;
    color: black;
    border: 7px solid #6500a8; /* borda */
    border-radius: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.headerCadastro{
    padding: 59px;
    padding-top: 0;
    padding-bottom: 0;
}

.headerEditaPerfil{
    padding: 87px;
    padding-top: 0;
    padding-bottom: 0;
}

.headerLogin{
    padding: 15px;
    padding-top: 0;
    padding-bottom: 0;
}

.headerSenha{
    padding: 63px;
    padding-top: 0;
    padding-bottom: 0;
}

.headerNova{
    padding: 90px;
    padding-top: 0;
    padding-bottom: 0;
}

.bi-eye{
    position:relative;
    bottom: 40px;
    left: 300px;
    cursor: pointer;
    color: #0d009c;
  }

.descricao{
    text-align: center;
}

body{
    background: linear-gradient(to right, 
    #f4a4bb, #2c31d4); /*degrade*/
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* centraliza horizontalmente */
    align-items: center; /* centraliza verticalmente */
    height: 100vh;
}

.container{
    width: 320px;
    background-color: white;
    border-radius: 10px; /* borda arredondada */
    padding: 20px; 
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); /* sombra */
}

.image-container {
    display: flex; 
    justify-content: center;/* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
  }
  
  .image-container img {
    max-width: 100%;  /* Largura máxima de 100% do contêiner pai */
    height: auto;
    max-height: 150px;
    width: auto; 
    max-width: 150px;
    object-fit: cover; /*para cortar a imagem ao invés de distorcer*/
    margin-bottom: 10px;
  }

.cadastro{
    font-family: 'Lato', sans-serif;
    text-align: left;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 5px;
}

input{
    width: 93%;
    background-color: #d5d4d4;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

button{
    font-family: 'Montserrat';
    background: linear-gradient(to right, 
    #8c3e7d, #5d357b);
    color: white;
    font-size: large;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);*/
    border-radius: 50px;
    cursor: pointer;
}

.possuoUsuario{
    /*font-family: 'Montserrat';*/
    font-size: small;
    text-align: center;
    margin-top: 10px;
}

.possuoUsuario a{
    color: #6500a8;
    margin-left: 5px;
}

